.App .container {
  background-color: #f9f7fe;
  border-radius: 15px;
  padding: 0px 30px;
}

.App header {
  margin: 30px;
  padding-top: 10px;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App footer {
  margin: 30px;
  padding-bottom: 30px;
}

.App a {
  color: #227576;
}
