.App {
  margin: 0 auto;
  background-color: #f9f7fe;
}

.App .container {
  max-width: 960px;
  border-radius: 15px;
  padding: 0px 30px;
}

.App header {
  padding: 40px 0px;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App footer {
  padding: 30px 0px;
}

.App a {
  color: #227576;
}
